{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Collectorate User Add{% endblock %}
{% block body %}
<center>
    <h1>Collectorate User Add</h1>
     <div class="container">
    <form role="form" name="frm" action="{% url 'admin_collectorate_user_add'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name :</label>
            <input class="form-control" type="text" name="name" id="name" value="" required>
        </div>
        <div class="form-group">
            <label for="addr1">Address :</label>
            <input class="form-control" type="text" name="addr1" id="addr1" value="" required>
            <input class="form-control" type="text" name="addr2" id="addr2" value="" required>
            <input class="form-control" type="text" name="addr3" id="addr3" value="" required>
            <input class="form-control" type="text" name="pin" id="pin" value="" required>
        </div>
        <div class="form-group">
            <label for="uname">Login Name :</label>
            <input class="form-control" type="text" name="uname" id="uname" value="" required>
        </div>
        <div class="form-group">
            <label for="password">Password :</label>
            <input class="form-control" type="password" name="password" id="password" value="" required>
        </div>
        <div class="form-group">
            <label for="district_id">District :</label>
            <select class="form-control" id="district_id"  name="district_id">
                {% for  d in district_list%}
                <option value="{{d.id}}">{{d.district}}</option>
                {% endfor %}
            </select>
        </div>
       <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
    </form>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
