{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}State Add{% endblock %}
{% block body %}
<center>
    <h1>State Add</h1>
     <div class="container">
    <form role="form" name="frm" action="{% url 'admin_state_master_add'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="state_name">State Name :</label>
            <input class="form-control" type="text" name="state_name" id="state_name" value="Kerala" required>
        </div>
       <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
    </form>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
