{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Disaster Reporting System
{% endblock %}
{% block body %}

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="{% static './myapp/images/base.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static './myapp/images/disaster1.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static './myapp/images/disaster2.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static './myapp/images/disaster3.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="{% static './myapp/images/disaster4.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static './myapp/images/disaster5.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static './myapp/images/disaster6.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static './myapp/images/disaster7.jpg' %}"  width="330" height="300">&nbsp&nbsp&nbsp&nbsp&nbsp
{% endblock %}
